.LOADING-CONTAINER{ /*All caps are for errors and loading classes*/
    font-size: 4rem;
    margin: 0 auto;
}

.main-content{
    display: grid;
    grid-template-areas: 
        'topnav topnav' 
        "searchbar searchbar"
        "sidenav maincontent"
        "sidenav maincontent"
        "sidenav comments"
        "footer footer"
        "restfooter restfooter";
    grid-template-rows: max-content max-content auto auto;
    grid-template-columns: 15% auto;
    height: max-content;
    row-gap: 0.5rem;
 
}

.user-comments{
    grid-area: comments;
    display: grid;
    grid-template-areas: "leavecomment leavecomment" "user usersaid";
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    align-self: flex-end;
}

#m-icon{
   
    color: #cacac1;
    width: 100%;
    height: 4rem;
    fill: var(--base-color-topnav);
    border: none;
    outline: none;
}


#m-icon:focus{
    border: none;
    outline: none;
    
}

.topnav-container{
    grid-area: topnav;
}

.search-container{
    grid-area: searchbar;
}

.sidenav-container{
    grid-area: sidenav;
}

.postcontent-container{
    grid-area: maincontent;
}

.postpage-itemcontainer{
    grid-area: maincontent;
}

.footer-container{
    grid-area: footer;
}

.rest-footer{
    grid-area: restfooter;
}

#textbox{
    
    width: 70%;
    height: 5rem;
    margin: 0 auto;
}

.say-comment{
    grid-area: leavecomment;
}