.LOADING-CONTAINER{ /*All caps are for errors and loading classes*/
    font-size: 4rem;
    margin: 0 auto;
}

.main-content{
    display: grid;
    grid-template-areas: 
        'topnav topnav' 
        "searchbar searchbar"
        "sidenav maincontent"
        "sidenav maincontent"
        "footer footer";
    grid-template-rows: max-content max-content auto auto;
    grid-template-columns: 15% auto;
    height: max-content;
    row-gap: 0.5rem;
 
}

#m-icon{
   
    color: #cacac1;
    width: 100%;
    height: 4rem;
    fill: var(--base-color-topnav);
    border: none;
    outline: none;
}


#m-icon:focus{
    border: none;
    outline: none;
    
}

.topnav-container{
    grid-area: topnav;
}

.search-container{
    grid-area: searchbar;
}

.sidenav-container{
    grid-area: sidenav;
}

.postcontent-container{
    grid-area: maincontent;
}

.footer-container{
    grid-area: footer;
}