

.home-container{
    width: min(1100px, 90%);
    min-height: 100vh;
    margin: auto auto;
    overflow-y: visible;
}

.searchbar{
    width: 90%;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin-right: 0.25rem;
    border-radius: 0.2rem;
    border: 5px solid #f0f0f2;
}

.menu_small-screen{
    display: none;
}

.search-btn{
    
    width: 20%;
    height: max-content;
    font-size: 1.5rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
}

input:focus{
    outline: none;

}

.small-home-txt{
    width: 30%;
    margin: 0.5rem auto;
    text-align: center;
}

.search-container{
    padding: 0.2rem;
    display: flex;
    margin: 0 auto;
    width: 80%;
    position: relative;
}

ul.optionslist{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    
}

ul.optionslist a{
    color: var(--base-text-dark);
}



ul.dropdown-container{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2000;
    font-size: 1.5rem;
    
    width: 100%;
    border-radius: 0.5rem;
}

.autowrap{
    width: 100%;
    overflow-y: visible;
    position: relative;
    margin: auto 0;
}

.dropdown-container li{
    padding: 0.5rem 0.25rem;
    width: 90%;
    background-color: #FFF;
}

h1{
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    font-size: 4em;
}

.tag-auto{
    color: var(--tag-text-color);
}
.series-auto{
    color: var(--series-text-color);
}

.search-btn{
    background-color: var(--base-color-topnav);
    color: var(--text-color-topnav)
}

@media only screen and (max-width: 430px){
    .home-container > p, a{
        font-size: 1rem;
    }
    .search-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: visible;
    }


    .search-btn{
        width: max-content;

    }
    .searchbar{
        border: 1px;
        margin: 0 auto;
    }
    ul.optionslist{
        padding: 0;
        width: 70%;
    }
    ul.optionslist li{
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        width: 4rem;
        text-align: center;
    }
}