:root {
  font-family: 'Roboto';
  transition: 0.5s;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --tag-text-color: rgb(133, 13, 13);
  --series-text-color: rgb(2, 146, 146);

  transition: 0.5s;


}

html[data-theme=light]{
  --base-color-topnav: #015969;
  --base-color-dark: #f2f2f7; /*The background of the whole page*/
  --text-color-topnav: #ffffff;
  --base-text-dark: #1f1f20;
  --link-text-dark: #d9f1f6;

  --tablebg: #d8dee2;

  --dropdown-color: #ebe6e6;

  --nav-hover-color: #275963;

  --page-btn-hover-color: #0cdfa3;

  --demographic-color-tag: #dca80b;
  --generic-tag: #3d88b3;
}


html[data-theme=dark]{
  --base-color-topnav: #202124;
  --base-color-dark: #303037;
  --text-color-topnav: #ffffff;
  --base-text-dark: #FFFFFF;
  --link-text-dark: #edf9f9;

  --tablebg: #1e2128;

  --dropdown-color: #ebe6e6;

  --nav-hover-color: #505766;
  --page-btn-hover-color: #101e30;

  --demographic-color-tag: #dca80b;
  --generic-tag: #3d88b3;


}


body{
  margin: 0;
  height: max-content;
  background-color: var(--base-color-dark);
  color: var(--base-text-dark);
}

html, body{
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  text-decoration: none;
  color: var(--link-text-dark)
}

ul{
  list-style: none;
}
