ul.topnav-content{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

.menulinks{
    padding: 1.5rem;
  
}

li{
    display: flex;
    
    
}

.menulinks a{
    align-self: center;
    border-radius: 0.5rem;
    padding: 0.1rem;
    position: relative;
    
}

.menulinks a:hover{
    background-color: var(--nav-hover-color)
}



img{
    width: 80%;
}

.lightordark-container{ /*Container of light or dark mode*/
    width: 30%;
    display: flex;
    flex-direction: row-reverse;

}

.total-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: var(--base-color-topnav);
    color: var(--text-color-topnav);
}

.svglightdark{
    padding: 1.5rem 1.75rem;
    margin: auto 0;
    height: 3rem;
    width: 3rem;
    visibility: visible;
    fill: white;
}

#m-icon:hover{
    cursor: pointer;
    background-color: var(--base-color-topnav);
}

/*END OF TOP NAV*/

.sidenav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    padding: 1rem;
    border-right: 2px solid #dcd5d5;
}

ul.tag-container{
  padding: 0rem 1rem 1rem 1rem;
}

.high-res-question{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--generic-tag)
    
}

.high-res-question:hover{
    background-color: var(--base-color-topnav);
    color: var(--text-color-topnav);
    border: 2px solid var(--generic-tag)
}

.other-tag{
    justify-content: space-around;
}

.highlight{
    background-color: var(--page-btn-hover-color);
}

.big-pic{
    padding: 0;
    height: auto;
    width: auto;
    position: absolute;
}

li.tagoutput{
    margin: 0.2rem;
    cursor: pointer;
    justify-content: space-around;
}

.demographic-tag{
    color: var(--demographic-color-tag);
}

.demographic-tag:hover{
    color: #f8a703;
}

.generic-tag{

    color: var(--generic-tag);
}

.generic-tag:hover{
    color: #56f3db;
}

.postcontent-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

.postpage-itemcontainer{
    display: flex;
    height: max-content;
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
    
}

.postpage-itemcontainer img{
    
    height: 50%;
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    
}

.seriestitle{
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.footer-container{
    display: flex;
    flex-direction: column;
}

.postitem{
    width: 90%;
    padding: 10px;
    margin: auto;
    position: block;
}

.next-page-arrow{
    width: 3.5rem;
    height: 3.5rem;
    fill: var(--base-text-dark);
}

li .next-page-arrow{
    width: 2rem;
    height: 2rem;
}

ul.list-num-page{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 0;
    margin: 1rem auto;
    position: relative;

}

.pageboxes{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin: 0 1rem;
    border: 0.2rem solid var(--nav-hover-color);
}

.pageboxes:hover{
    background-color: var(--page-btn-hover-color);
}


.footer-big-text{
    font-size: 1.5rem;
}

.rest-footer{
    background-color: var(--base-color-topnav);
    padding: 1rem 0;
    width: 100vw;
    
}

.favorite-btn{
    position: absolute;
    top: 1rem;
    right: 5rem;
    fill: #D16D6A;
    height: 2rem;
    width: 2rem;
}

.imgwrap{
    position: relative;

}



