ul.topnav-content{
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

.menulinks{
    padding: 1.5rem;
  
}

li{
    display: flex;
    
    
}

.menulinks a{
    align-self: center;
    border-radius: 0.5rem;
    padding: 0.1rem;
    position: relative;
    
}

.menulinks a:hover{
    background-color: var(--nav-hover-color)
}

.menulinks a#m-icon:hover{
    background-color: #fff;
}

img{
    width: 4rem;
}

.lightordark-container{ /*Container of light or dark mode*/
    width: 30%;
    display: flex;
    flex-direction: row-reverse;

}

.total-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: var(--base-color-topnav);
    color: var(--text-color-topnav);
}

.svglightdark{
    padding: 1.5rem 1.75rem;
    margin: auto 0;
    height: 3rem;
    width: 3rem;
    visibility: visible;
    fill: white;
}

.postcontent-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
}

.postitem{
    width: 60%;
    padding: 10px;
    margin: auto;
}

.next-page-arrow{
    width: 3.5rem;
    height: 3.5rem;
    fill: var(--base-text-dark);
}

li .next-page-arrow{
    width: 2rem;
    height: 2rem;
}

ul.list-num-page{
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 0;
    margin: 1rem auto;

}

.pageboxes{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin: 0 1rem;
    border: 0.2rem solid var(--nav-hover-color);
}

.pageboxes:hover{
    background-color: var(--page-btn-hover-color);
}