
.profile-page-container{
    grid-area: sidenav;
    margin-left: 0.5rem;
    padding: 1rem;

    border-right: solid var(--base-color-topnav) 5px;
}

.menulinks.sidebar-to-topnav{
    font-size: 0.75rem;

}

/*START OF SIDEBAR*/

.islogged-container{
    padding: 0;
}

.anouncement.ppage{
    position: absolute;
}



/*END OF SIDEBAR*/

/*MAIN CONTENT*/

.profile-info-container{
    grid-area: maincontent;
    width: 90%;
    
    margin: 0 auto;
}

.profile-user-display{
    position: relative;

}

.banner-container{
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.profile-icon{
    border-radius: 10rem;
    
    color: #FFF;
    border: solid #FFF 0.25rem;
    width: 12rem;
    height: 12rem;


    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}

.user-sig{
    margin: 0 auto;
    width: max-content;
    display: block;

    font-size: 1.25rem;
}



.user-title{
    background-color: var(--base-color-topnav);
    color: var(--text-color-topnav);

    font-size: 22px;

    padding: 0.5rem 0;
    margin: 0.5rem 0;
    text-align: center;
    width: 100%;
    height: max-content;
    display: block;
}

#btnsection{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.profile-button{
    width: 20%;
    margin: 0 0.5rem;
    padding: 0.75rem;
    background-color: var(--auth-box-bg-color);
    color: var(--base-text-dark);
    border: solid 4.5px #4286ad;
    border-radius: 0.75rem;
    transition: 0.5s;
}

    #btnsection button:hover{
        background-color: #27ccd5;
    }
    .profile-button:hover{
        background-color: #21c3cb;
    }

.header-section{
    justify-content: left;
}

section{
    width: 100%;
    max-width: 70vw;
}

.show-my-favs-container{
    display: flex;
    flex-direction: row;

    overflow-x: auto;
    padding: 1rem;
    margin: 0 0.25rem;

    white-space: nowrap;

    width: 100%;

    scroll-behavior: smooth;

}

.show-my-favs-container::-webkit-scrollbar{
    height: 10px;
    width: 10px;
}

.show-my-favs-container::-webkit-scrollbar-track {
    background: var(--base-color-dark); /* background color */
    border-radius: 10px;
}

.show-my-favs-container::-webkit-scrollbar-thumb {
    background: var(--base-color-topnav); /* The Scrollbar color */
    border-radius: 10px;
}

.img-unit-favs{
    width: 15rem;
    height: auto;
    margin: auto 0.5rem;
}


/*LOGIN AND REGISTER SECTION*/

.userauthbox{
    z-index: 1000;
    position: absolute;
    
    top: 50%;
    left: 50%;

    width: 35%;
    height: auto;
    transition: transform 1s ease-in-out;
    padding: 4rem 2rem;
    
    border-radius: 1rem;

    background-color: var(--auth-box-bg-color);
}




.userinputs{
    display: flex;
    flex-direction: column;
    
    
}

.userinputs input, button{
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem auto;
    width: 75%;
    
}

.not-txt{
    margin: 0 auto;
}

#plsremember{
    width: max-content;
    margin: 0;
    margin-right: 0.5rem;
}

/*Update Profile Details*/

.update-profile-container{
    width: min(85%, 1100px);
    margin: 0 auto;
    
}

.photo-update-container{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    min-width: 100%;
}

.photo-update-container button{
    height: 40%;
    width: 50%;
    margin: 0 auto 0 5rem ;
}

.other-update-container{
    margin: 2rem auto;
    width: 80%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.other-update-container input{
    padding: 1rem;
    width: 50%;
    border-radius: 0.5rem;
}

.other-update-container *{
    margin: 0.5rem auto;
}


.about-me-text{
    border: 2px solid #000;
    padding: 1rem;

    background-color: #FFFFFF;
    width: 50%;
    min-height: 20%;
    height: max-content;

    display: flex;
    flex-direction: column;

    border-radius: 0.5rem;
    
}

.about-me-text:focus-within{
    border: none;
    outline: var(--generic-tag) solid 3px;

}



#aboutmeInput{
    border: none;
    outline: none;
    width: 90%;
    padding: 2rem 0;
    font-size: 1rem;
    margin: 0 auto;
    
    
}

.dropbox-select{
    width: 55%;
    padding: 1rem;
    border-radius: 0.5rem;
}

.btn-container-updates .profile-button{
    width: auto;
    margin: 0 2rem
}

.new-pic-container{
    display: flex;
    flex-direction: column;
    width: min(80%, 800px);
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 1rem;
    padding: 1.25rem;

    background-color: var(--auth-box-bg-color);
}

.new-pic-container input{
    margin: 0 auto 1rem auto;
    font-size: 1rem;
    padding: 1rem;
    width: 50%;

    border: 1px solid var(--base-color-topnav);
    background-color: var(--auth-box-bg-color);
}

.preview-small{
    min-width: 20%;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
    position: relative;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
}

/*Upload Styling*/

.upload-container{
    margin: 2rem auto;
    width: min(80%, 800px);
    min-height: 60vh;
    display: flex;
    flex-direction: column;
}

.upload-container button{
    margin: 1rem 0;
}

.upload-container .deletion-btns{
    margin: 1.5rem auto;
}

.upload-container input{
    padding: 0.5rem;
}

.upload-container .about-me-text{
    width: 95%;
}

.upload-container input:focus-within{
    outline: var(--generic-tag) solid 3px;
}

.preview-container{
    height: auto;
    margin: 1rem auto;
    max-width: 500px;
    min-width: 160px;
}

#series-desc{
    border: none;
    outline: none;
    padding: 1rem 0;
    height: 4rem;
}

.terms{
    list-style:circle;
}



/*Media*/

@media only screen and (max-width: 2560px) and (min-width: 1500px) {
    .banner-container{
        height: 40rem;
        background-size: 100% 100%;
    }
    .profile-icon{
        width: 20rem;
        height: 20rem;
    }

    .main-content.profile-page-area > *{
        font-size: 2rem;
    }
    .user-title{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px){

    .userauthbox{
        width: 70%;
    }
    .userinputs input{
        width: 90%;
    }
    .profile-page-container.hide-it{
        display: none;
    }

    .main-content.profile-page-area{
        display: block;
    }

    section{
        max-width: none;
    }

    .show-my-favs-container{
        margin: 0;
        padding: 0.25rem;
    }
}

@media only screen and (max-width: 430px){

    .user-sig{
        font-size: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%
    }

    .main-content.profile-page-area > *{
        font-size: 0.75rem;
    }

    button{
        font-size: 0.75rem;
    }
    h1{
        font-size: 2.5rem;
    }

    h3{
        font-size: 0.80rem;
    }

    .banner-container {
        height: 10rem;
        background-image: 100% 100%;
    }

    .profile-icon{
        width: 5rem;
        height: 5rem;
        bottom: 2rem;
        border-color: var(--base-color-dark)
    }

    .profile-button{
        width: auto;
    }

    .img-unit-favs{
        width: 10rem;
    }

    .other-update-container input{
        width: 80%;
    }
    .about-me-text{
        width: 80%;
    }
    .dropbox-select{
        width: 100%;
    }

    ul.topnav-content{
        display: none;

        
    }
    .menulinks{
        padding: 1rem 0.75rem;
    }
    /*The Upload Page*/
    .new-pic-container input{
        width: 60%;
    }

  
}
